<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DIR" value="D:\\Java projects\\Log"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DIR}\\bank.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>Bank-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level %d [%thread] %-50logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </root>

    <logger name="com.bank" level="info" additivity="false">
        <appender-ref ref="RollingFile"/>
    </logger>
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="RollingFile"/>
    </logger>
    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="RollingFile"/>
    </logger>
    <logger name="org.hibernate.type" level="trace" additivity="false">
        <appender-ref ref="RollingFile"/>
    </logger>
</configuration>