<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="file-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>D:/Java projects/Log/bank.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level %d [%t] %logger{36} %X{diagKey} %n %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="file-log"/>
    </root>
    <Logger name="org.hibernate" level="debug" additivity="false">
        <appender-ref ref="file-log"/>
    </Logger>
    <Logger name="org.hibernate.type" level="trace" additivity="false">
        <appender-ref ref="file-log"/>
    </Logger>

</configuration>